@import "./mixins";
/* variables */
:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #252b46;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 900px;
  --tablet-width: 600px;
  --timing-animation: 0.2s;
  --default-gap: 0.8rem;
  font-weight: 500;
}

/* End variables */

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: solid 0.1rem red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

/* End CSS Reset */
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
}
/*  Header*/
.header {
  @include display-flex;
  justify-content: space-between;
  margin-top: var(--default-padding);
}

.logocontent {
  @include display-flex;
  gap: var(--default-gap);
}
.logo-image {
  width: 4rem;
  max-width: 100%;
}
.links {
  @include display-flex;
  gap: var(--default-padding);

  &__link {
    color: var(--color-very-dark-blue);
    transition: var(--timing-animation) ease-in-out;
    &:hover {
      color: var(--color-soft-red);
    }
  }
}
/* End Header */
